.profile__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-width: 300px;
}

@media screen and (max-width: 670px) {
  .profile__subtitle {
    font-size: 14px;
  }
}
