.profile__title {
  max-width: 350px;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.1;
  margin: 0 0 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 750px) {
  .profile__title {
    max-width: 258px;
    font-size: 36px;
    margin: 0 0 14px;
  }
}

/* @media screen and (max-width: 670px) {
  .profile__title {
    max-width: 258px;
    font-size: 36px;
    margin: 0 0 14px;
  }
} */

@media screen and (max-width: 320px) {
  .profile__title {
    max-width: 240px;
    font-size: 27px;
    line-height: 1.2;
  }
}
