@import url(./vendor/normalize.css);
@import url(./fonts/inter.css);
@import url(./blocks/page/page.css);
@import url(./blocks/page/__container/page__container.css);
@import url(./blocks/btn/btn.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__signout/header__signout.css);
@import url(./blocks/header/__wrap/header__wrap.css);
@import url(./blocks/content/content.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-edit/profile__avatar-edit.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__wrap/profile__wrap.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__edit-btn/profile__edit-btn.css);
@import url(./blocks/profile/__add-btn/profile__add-btn.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__img/element__img.css);
@import url(./blocks/element/__description/element__description.css);
@import url(./blocks/element/__text/element__text.css);
@import url(./blocks/element/__like-group/element__like-group.css);
@import url(./blocks/element/__like-counter/element__like-counter.css);
@import url(./blocks/element/__remove-btn/element__remove-btn.css);
@import url(./blocks/element/__remove-btn/_hidden/element__remove-btn_hidden.css);
@import url(./blocks/element/__like-btn/element__like-btn.css);
@import url(./blocks/element/__like-btn/_active/element__like-btn_active.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_content_img/popup_content_img.css);
@import url(./blocks/popup/_content_login/popup_content_login.css);
@import url(./blocks/popup/__close-icon/popup__close-icon.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container/_dark-theme/popup__container_dark-theme.css);
@import url(./blocks/popup/__form/_dark-theme/popup__form_dark-theme.css);

@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__input-container/popup__input-container.css);
@import url(./blocks/popup/__input-label/popup__input-label.css);
@import url(./blocks/popup/__item/popup__item.css);
@import url(./blocks/popup/__item/_dark-theme/popup__item_dark-theme.css);

@import url(./blocks/popup/__item-error/popup__item-error.css);
@import url(./blocks/popup/__item/_type_error/popup__item_type_error.css);
@import url(./blocks/popup/__btn/popup__btn.css);
@import url(./blocks/popup/__btn/_dark-theme/popup__btn_dark-theme.css);

@import url(./blocks/popup/__btn/_inactive/popup__btn_inactive.css);
@import url(./blocks/popup/__img-container/popup__img-container.css);
@import url(./blocks/popup/__img/popup__img.css);
@import url(./blocks/popup/__img-title/popup__img-title.css);
@import url(./blocks/popup/__login-link/popup__login-link.css);
@import url(./blocks/popup/__result-icon/popup__result-icon.css);
@import url(./blocks/popup/__result-title/popup__result-title.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__text/footer__text.css);
